
*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

.nav-bar{
  width: 100vw;
  display: flex;
  min-height: 75px;
  justify-content: space-around;
  position: fixed;
  top: 0;
  padding: 0px 5px;
  align-items: center;
  margin-right: 20px;
  background-color: white;
}

#logo-img{
    width: 100%;
    height: 100%;
    max-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-left: 10px;
}
#logo{
  padding: 20px 10px;
  width: 50%;
}

li{
list-style-type: none;
 margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.nav-link a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  float: right;
}

#featureshowitworkspricing ul{
    width: 50vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}

.get-started{
  text-align: center;
  margin-top: 100px;
}
h1{
  margin-top: 20px;
  font-size: 30px;
  font-family: verdana;
}
input{
  width: 300px;
  height: 30px;
  margin-top: 20px;
}
button{
  height: 30px;
  width: 150px;
  background-color: orange;
  font-family: verdana;
  margin: 15px;
}
#fire-icon,#truck-icon,#qa-icon{
  width: 80px;
  height: 80px;
}
.grid{
  display: flex;
  align-items: center;
}
.icon{
   display: flex;
}
p{
    display: block;
    font-size: 16px;
  margin-left: 10px;
}
.desc{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 125px;
  padding-left: 50px;
}
.features{
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  scroll-margin-top: 150px;
}

.howitworks{
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-top: 50px;
  scroll-margin-top: 100px;
}

.pricing{
  display: flex;
  flex-direction: row;
  width: 80vw;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  scroll-margin-top: 100px;
}

#tenor,#bass,#valve{
  border: 1px solid black;
  width: calc(100%/3);
  margin: 20px;
 justify-content: center;
 align-items: center;
 text-align: center;
 border-radius: 3px;
  
}
.trombone{
  background-color: lightgray;
  width: 100%;
  padding: 10px;
}
h2{
 padding: 10px;
}
li{
  margin: 5px auto;
}
.select{
  width: 100px;
}
footer{
 width: 80vw;
  height: 80px;
  background-color: lightgray;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}

.footer-link a{
  text-decoration: none;
  color: black;
  font-size: 16px;
  display: block;
}
footer ul{
  margin-top: 10px;
  display: flex;
  width: 250px;
  margin-right: 10px;
  margin-left: auto;
}
footer p{
  margin-right: 20px;
  margin-left: auto;
  font-size: 14px;
  color: gray;
}

@media screen and (max-width: 400px){
  .main{
    width: 100vw;
  }
  #logo{
    margin-left: 5px;
  }
  #logo-img{
    width: 130px;
    height: 20px;
  }
  #featureshowitworkspricing{
    margin-right: 30px;
  }
  #featureshowitworkspricing ul{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  .nav-link li{
    margin: 5px 5px;
  }
  .nav-link a{
    font-size: 12px;
  }
  .get-started{
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
  }
  #heading{
    font-size: 16px;
    margin-top: 120px;
  }
  input{
    width: 200px;
  }
  #getstarted{
    width: 100px;
    font-size: 12px;
  }
  h2{
    width: 90vw;
    font-size: 16px; 
    justify-content: center;
  }
  p{
    font-size: 12px;
    width: 170px;
  }
    #fire-icon,#truck-icon,#qa-icon{
    width: 50px;
    height: 50px;
  }
  .grid{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }
  .icon{
    margin-top: 20px;
  }
  
  .desc{
     display: block;
  }
  .howitworks{
    max-width: 90vw;
    margin: 50px auto;
  }
  #video{
    height: 150px;
    width: 220px;
  }
  .pricing{
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin: 50px auto;
  }
  #tenor,#bass,#valve{
    width: 80vw;
    font-size: 12px;
  }
  .amt{
    width: 50vw;
    margin: 5px auto;
  }
  .select{
    width: 70px;
    font-size: 12px;
  }
  footer{
    width: 100vw;
    margin-top: 20px;
    margin: 0 auto;
    
  }
  .footer-link{
     width: 150px;
    margin: 5px auto;
  } 
  .footer-link a{
    font-size: 12px; 
  }
  footer p{
    font-size: 10px;
    margin: 5px auto;
  }
}
